{% extends 'base.html' %}

{% block title_page %} Listagem de Produtos {% endblock %}

{% block conteudo %} 
    <table class="table table-bordered table-hover">
        <thead class="thead-dark"> 
            <p><button type="button" class="btn btn-primary" onclick="location.href='{% url 'forms' %}'">Novo Produto</button></p>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor (R$)</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.preco}}</td>
                <td>
                    <button onclick="location.href='{% url 'detalhes_produto' item.id %}'" class="btn btn-info">Detalhes</button>
                    <button onclick="location.href='{% url 'editar_produto' item.id %}'" class="btn btn-warning">Alterar</button>
                    <button onclick="location.href='{% url 'excluir_produto' item.id %}'" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}